<!-- Navigation -->
<!-- <a class="menu-toggle rounded" href="#">
  <i class="fas fa-bars"></i>
  login
</a> -->




<!-- Header -->
<header class="masthead d-flex">
  <div class="container text-center my-auto">
    <!-- <h1 class="mb-1">Stylish Portfolio</h1> -->
    <img src="assets/img/logo.png" class="logo-image" alt="">
    <h2 class="mb-5">
      <em style="color: white;">{{'WELCOME login' | translate}}</em>
    </h2>

    <div class="row">
      <div class="col-md-5 mx-auto">
        <div id="first">
          <div class="myform form ">
            <div class="logo mb-3">
              <div class="col-md-12 text-center">
                <h5>{{'Please login to access' | translate}}</h5>
              </div>
            </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                </div>
                <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email">
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend"(click)="showPassword()">
                  <span class="input-group-text" id="basic-addon2"><i class="fa fa-eye" aria-hidden="true" ></i></span>
                </div>
                <input id="password" type="password" class="form-control" placeholder="Password" [(ngModel)]="password">
              </div>



              <div class="form-group">
                <p class="text-center"><a href="#">{{'Did you forget your password?' | translate}}</a></p>
              </div>
              <div class="col-md-12 text-center ">
                <button class="btn btn-block mybtn btn-primary tx-tfm" (click)="login()">Login</button>
              </div>

              <div class="form-group">
                <p class="text-center">{{'Do not have an account?' | translate}}
                  <a [routerLink]="['/signup']" routerLinkActive="router-link-active"  id="signup">
                    {{'sinup' | translate}}
                  </a>
                   o
                   <a href="#"id="signup">
                    {{'Contact us' | translate}}
                    </a>
                  </p>
              </div>


          </div>
        </div>
      </div>
    </div>


    <p style="color: white; font-size: 18px;" class="mt-5">Oppure torna al
      <a style="color: white; font-size: 18px; text-decoration: underline !important;" href="#">sito principale</a>
    </p>


  </div>
  <div class="overlay"></div>
</header>
