<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <!-- <h4 class="card-title"> Simple Table</h4> -->
      </div>
      <div class="card-body">
        <form>
          <span for="email">Email</span>
          <p>{{localEmail}}</p>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">{{'change pwd' | translate}}</h5>
      </div>
      <div class="card-body">
        <div>
          <form action="#!">
            <div class="form-group">
              <label for="accounttomod" class="sr-only">Email</label>
              <input type="email" name="accounttomod" id="accounttomod" class="form-control" placeholder="email"
                [(ngModel)]="email">
            </div>
            <div class="form-group mb-4">
              <label for="oldpassword" class="sr-only">{{'old pwd' | translate}}</label>
              <input type="password" name="oldpassword" id="oldpassword" class="form-control"
                placeholder="{{'old pwd' | translate}}" [(ngModel)]="oldpwd">
            </div>
            <div class="form-group mb-4">
              <label for="newpassword" class="sr-only">{{'new pwd' | translate}}</label>
              <input type="password" name="newpassword" id="newpassword" class="form-control"
                placeholder="{{'new pwd' | translate}}" [(ngModel)]="newpwd">
            </div>
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round" (click)="changePassword()">Modifica</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row" *ngIf="providerDetails">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">{{'Provider details' | translate}}</h5>
      </div>
      <div class="card-body">
        <div class="row">


          <div class="col-md-6">

            <div class="form-group">
              <label for="">{{'Social reason' | translate}}</label>
              <input disabled id="companyname" name="companyname" type="text" class="form-control"
                placeholder="ragione sociale" [(ngModel)]="providerDetails.general.companyname">
            </div>



            <div class="form-group">
              <label for="">{{'Legal status' | translate}}</label>
              <select disabled id="legalstatusid" name="legalstatusid" type="text" class="form-control" required
                [(ngModel)]="providerDetails.general.legalstatusid">
                <ng-container *ngFor="let item of legal_status">
                  <option [value]="item.id">{{item.description}}</option>
                </ng-container>
              </select>
            </div>

            <div class="form-group">
              <label for="">Business area</label>
              <select id="businessareaid" name="businessareaid" disabled type="text" class="form-control" required
                [(ngModel)]="providerDetails.general.businessareaid">
                <ng-container *ngFor="let item of businessarea">
                  <option [value]="item.id">{{item.description}}</option>
                </ng-container>
              </select>
            </div>

            <div class="form-group">
              <label for="">{{'Economic sector' | translate}}</label>
              <select id="sectorid" name="sectorid" disabled type="text" class="form-control"
                [(ngModel)]="providerDetails.general.sectorid">
                <ng-container *ngFor="let item of sectors">
                  <option [value]="item.id">{{item.description}}</option>
                </ng-container>
              </select>
            </div>

            <div class="form-group">
              <label for="">{{'Product category' | translate}}</label>
              <select id="categoryid" name="categoryid" disabled type="text" class="form-control"
                [(ngModel)]="providerDetails.general.categoryid">
                <ng-container *ngFor="let item of category">
                  <option [value]="item.id">{{item.description}}</option>
                </ng-container>
              </select>
            </div>

            <div class="form-group">
              <label for="">IDI</label>
              <input disabled id="idi" name="idi" type="text" class="form-control" placeholder="idi"
                [(ngModel)]="providerDetails.general.idi">
            </div>

            <div class="form-group">
              <label for="">IBAN</label>
              <input disabled id="iban" name="iban" type="text" class="form-control" placeholder="iban"
                [(ngModel)]="providerDetails.general.iban">
            </div>


          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="">{{'Street address' | translate}}</label>
              <input disabled id="address" name="address" type="text" class="form-control" placeholder="address"
                [(ngModel)]="providerDetails.addresses[0].address">
            </div>

            <div class="form-group">
              <input disabled id="city" name="city" type="text" class="form-control" placeholder="city"
                [(ngModel)]="providerDetails.addresses[0].city">
            </div>

            <div class="form-group">
              <input disabled id="district" name="district" type="text" class="form-control" placeholder="district"
                [(ngModel)]="providerDetails.addresses[0].district">
            </div>

            <div class="form-group">
              <input disabled id="nap" name="nap" type="text" class="form-control" placeholder="nap"
                [(ngModel)]="providerDetails.addresses[0].nap">
            </div>

            <div class="form-group">
              <label for="">{{'Referent' | translate}}</label>
              <input disabled id="name" name="name" type="text" class="form-control" placeholder="name"
                [(ngModel)]="providerDetails.referrers[0].name">
            </div>

            <div class="form-group">
              <input disabled id="lastname" name="lastname" type="text" class="form-control" placeholder="lastname"
                [(ngModel)]="providerDetails.referrers[0].lastname">
            </div>

            <div class="form-group">
              <input disabled id="email" name="email" type="text" class="form-control" placeholder="email"
                [(ngModel)]="providerDetails.referrers[0].email">
            </div>

            <div class="form-group">
              <input disabled id="department" name="department" type="text" class="form-control" placeholder="department"
                [(ngModel)]="providerDetails.referrers[0].department">
            </div>

            <div class="form-group">
              <input disabled id="mobile" name="mobile" type="text" class="form-control" placeholder="mobile"
                [(ngModel)]="providerDetails.referrers[0].mobile">
            </div>

            <div class="form-group">
              <input disabled id="phone" name="phone" type="text" class="form-control" placeholder="phone"
                [(ngModel)]="providerDetails.referrers[0].phone">
            </div>

          </div>




        </div>
      </div>
    </div>
  </div>

</div>
