<div class="row" *ngIf="convenzioni">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <!-- <h4 class="card-title"> Simple Table</h4> -->
      </div>
      <div class="card-body">
        <mat-tab-group id="tabs">
          <mat-tab>
            <ng-template mat-tab-label>
              {{'requests agreement' | translate}}
            </ng-template>

            <!-- <button
              class="btn taxibiz-buttons"


            >
              Aggiungi Convenzione
            </button>
            -->

            <button
            class="btn taxibiz-buttons"
            (click)="disattivazione()"
          >
           {{"REQUEST DISABLE" | translate}}
          </button>

          <!-- <button
          class="btn taxibiz-buttons"
          (click)="disattivazione()"
          *ngIf="lang === 'it'"
        >
         RICHIEDI DISATTIVAZIONE
        </button> -->
            <div class="table-responsive mytable">

              <table class="table row-hover">
                <thead class="text-primary text-left">
                  <th>{{'Description' | translate}}</th>
                  <th>{{'Agreement start' | translate}}</th>
                  <th>{{'Agreement end' | translate}}</th>
                  <th>Status</th>
                </thead>
                <tbody>
                  <tr (click)="addeditConvenzione(convenzioni.agreementnumber)" class="text-left">
                        <td>{{convenzioni.description}}</td>
                        <td>{{convenzioni.agreementstart}}</td>
                        <td>{{convenzioni.agreementend}}</td>
                        <td *ngIf="status === 1" style="color: green;" >Attiva</td>
                        <td *ngIf="status === 2" style="color: red;" >Non attiva</td>
                  </tr>
              </table>
             <!--  <button id="select-all" class="btn button-default">
                SelectAll/Cancel
              </button>
              <button id="select-invert" class="btn button-default">
                Invert
              </button>
              <button id="selected" class="btn button-default">
                GetSelected
              </button> -->
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>


<div *ngIf="!convenzioni">Non ci sono convenzioni attive</div>
