<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"></div>
      <div class="card-body">
        <mat-tab-group id="tabs">
          <mat-tab label="">
            <ng-template mat-tab-label>
              {{ "services active" | translate }}
            </ng-template>
            <div class="container mt-5">
              <div class="row">
                <div class="col-6">
                  <h3>{{ "add new service" | translate }}</h3>
                  <p>
                    {{
                    "Here you can create and manage the services offered"
                    | translate
                    }}
                  </p>
                  <button (click)="openDialog()" class="btn btn-primary btn-large">
                    {{ "Add Service" | translate }}
                  </button>
                </div>

                <div class="col-6">
                  <label class="mx-3">{{
                    "filter by keyword" | translate
                    }}</label>
                  <div class="col-11 input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"
                          aria-hidden="true"></i></span>
                    </div>
                    <input (keyup)="searchServices($event)" type="text" class="form-control"
                      placeholder="{{ 'search' | translate }}" aria-label="Cerca" aria-describedby="basic-addon1" />
                  </div>

                  <!--  -->
                  <label class="mx-3">{{
                    "filter by typology" | translate
                    }}</label>
                  <div class="col-11" style="margin-bottom: 10px">
                    <select class="form-control" name="" id="" (change)="chooseTypology($event.target.value)">
                      <ng-container *ngFor="let typology of allTypologies">
                        <option [value]="typology.typologyid">
                          {{ typology.title }}
                        </option>
                      </ng-container>
                    </select>
                  </div>

                  <div class="col-5">
                    <button (click)="resetFilter()" class="btn btn-dark btn-sm">
                      <i class="nc-icon nc-refresh-69"></i>
                    </button>
                  </div>
                </div>
                <!-- -----------------------///////////////////------------------------------------- -->
                <div *ngIf="servicesStatusUno" class="row col-12 my-4">
                  <div class="col-12">
                    <div class="table-responsive mytable">
                      <table class="table row-hover">
                        <thead class="text-primary text-end">
                          <th>{{ "offered services" | translate }}</th>
                          <th>{{ "Category" | translate }}</th>
                          <th>{{ "Typology" | translate }}</th>
                          <th></th>
                          <th></th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let service of servicesStatusUno" class="text-end">
                            <td>
                              {{ service.servicestitle }}
                            </td>
                            <td>
                              {{ service.category.title }}
                            </td>
                            <td>
                              {{ service.typology.title }}
                            </td>
                            <td>
                              <a (click)="deleteService(service)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                              </a>
                            </td>
                            <td>
                              <a (click)="updateService(service.serviceid)">
                                <i class="fa fa-pen" aria-hidden="true"></i>
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              {{ "inactive services" | translate }}
            </ng-template>
            <div class="container">
              <div class="row">
                <div class="input-group col-5 my-4" style="">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"
                        aria-hidden="true"></i></span>
                  </div>
                  <input (keyup)="searchServicesNoActivated($event)" type="text" class="form-control"
                    placeholder="{{ 'search' | translate }}" aria-label="Cerca" aria-describedby="basic-addon1" />
                </div>
                <div class="col-5" style="">
                  <label class="mx-1">{{
                    "filter by typology" | translate
                    }}</label>
                  <div class="" style="">
                    <select style="height: 46px" class="form-control" name="" id=""
                      (change)="chooseTypology($event.target.value)">
                      <ng-container *ngFor="let typology of allTypologies">
                        <option [value]="typology.typologyid">
                          {{ typology.title }}
                        </option>
                      </ng-container>
                    </select>
                  </div>
                </div>

                <div class="col-2 my-4">
                  <button (click)="resetFilter()" class="btn btn-dark btn-sm">
                    <i class="nc-icon nc-refresh-69"></i>
                  </button>
                </div>
              </div>
              <div>
                <div class="col-12">
                  <div class="table-responsive mytable">
                    <table class="table row-hover">
                      <thead class="text-primary text-end">
                        <th>{{ "offered services" | translate }}</th>
                        <th>{{ "Category" | translate }}</th>
                        <th>{{ "Typology" | translate }}</th>
                        <th></th>
                        <th></th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let service of services" class="text-end">
                          <td>
                            {{ service.servicestitle }}
                          </td>
                          <td>{{ service.category.title }}</td>
                          <td>{{ service.typology.title }}</td>
                          <td>
                            <a (click)="deleteService(service)">
                              <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                          </td>
                          <td>
                            <a (click)="updateService(service.serviceid)">
                              <i class="fa fa-pen" aria-hidden="true"></i>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
