<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="assets/img/logo.png" alt="" />
      <h3>{{'Welcome signup' | translate}}</h3>
      <p>{{'register as a provider' | translate}}</p>
      <h4>{{'Or' | translate}}:</h4>
      <button
        type="button"
        class="btn btn-primary"
        [routerLink]="['/homepage']"
        routerLinkActive="router-link-active"
      >
        Login
      </button>
    </div>


    <!-- <div class="col-md-9 register-right"> -->
      <div class="col-md-9 register-right p-2">
   <!--    <div class="tab-content" id="myTabContent"> -->
        <div
          class="tab-pane fade show active my-5"
          id="home"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <div class="row register-form">
            <div class="col-md-6">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  required
                  placeholder="{{'Social reason' | translate}}"
                  name="companyname"
                  [(ngModel)]="ragione_sociale"
                />
              </div>
              <div class="form-group">
                <select
                  type="text"
                  class="form-control"
                  required
                  (change)="chooseLegalStatus($event.target.value)"
                  [(ngModel)]="legalStatusId"
                >
                <ng-container  *ngFor="let item of legal_status_id">
                  <option [value]="item.id" [selected]="legal_status_id[0].id">{{item.description}}</option>
                </ng-container>
                </select>
              </div>

              <div class="form-group">
                <select
                  type="text"
                  class="form-control"
                  required
                  (change)="chooseBusinessArea($event.target.value)"
                  [(ngModel)]="businessarea_id"
                >
                <ng-container  *ngFor="let item of businessarea">
                  <option [value]="item.id" [selected]="businessarea[0].id">{{item.description}}</option>
                </ng-container>
                </select>
              </div>

              <div class="form-group">
                <select
                  type="text"
                  class="form-control"
                  (change)="chooseSectors($event.target.value)"
                  [(ngModel)]="sector_id"
                >
                <ng-container  *ngFor="let item of sectors">
                  <option [value]="item.id" [selected]="sectors[0].id">{{item.description}}</option>
                </ng-container>
                </select>
              </div>

              <div class="form-group">
                <select
                  type="text"
                  class="form-control"
                  (change)="chooseCategory($event.target.value)"
                  [(ngModel)]="category_id"
                >
                <ng-container  *ngFor="let item of category">
                  <option [value]="item.id" [selected]="category[0].id">{{item.description}}</option>
                </ng-container>
                </select>
              </div>

              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="idi"
                  placeholder="IDI"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  required
                  [(ngModel)]="iban"
                  placeholder="IBAN"
                />
              </div>

              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  required
                  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                  [(ngModel)]="phone"
                  placeholder="{{'telephone number' | translate}}"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  required
                  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                  [(ngModel)]="mobile"
                  placeholder="{{'cellphone number' | translate}}"
                />
              </div>

            </div>



            <div class="col-md-6">
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  required
                  [(ngModel)]="address"
                  placeholder="{{'Street address' | translate}}"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  required
                  pattern="[0-9]{20}"
                  [(ngModel)]="nap"
                  placeholder="NAP"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  required
                  [(ngModel)]="city"
                  placeholder="{{'City' | translate}}"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  required
                  [(ngModel)]="district"
                  placeholder="{{'District' | translate}}"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  required
                  [(ngModel)]="name"
                  placeholder="{{'First name' | translate}}"
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  required
                  [(ngModel)]="lastname"
                  placeholder="{{'Last name' | translate}}"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  required
                  [(ngModel)]="email"
                  placeholder="Email"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  required
                  [(ngModel)]="department"
                  placeholder="{{'department' | translate}}"
                />
              </div>

              <input
                type="submit"
                class="btnRegister"
                value="Registrati"
                (click)="createProvider()"
              />
            </div>
          </div>
        </div>
   <!--    </div> -->
    </div>
  </div>
</div>
