<input type="file" id="files" class="hidden">
<div class="row" *ngIf="convenzione">


  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">{{'agreement detail' | translate}}</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>{{'Description' | translate}}</label>
                <!-- <input type="text" class="form-control" placeholder="Ragione sociale" id="ragionesociale"> -->
                <p>{{convenzione.description}}</p>
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label for="exampleFormControlSelect1">{{'subscription date' | translate}}</label>
                <p>{{convenzione.subscriptiondate}}</p>
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>{{'Agreement start' | translate}}</label>
                <!-- <input type="text" class="form-control" placeholder="Sede sociale" id="sede"> -->
                <p>{{convenzione.agreementstart}}</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>{{'Agreement end' | translate}}</label>
                <!-- <input type="text" class="form-control" placeholder="indirizzo" id="indirizzo"> -->
                <p>{{convenzione.agreementend}}</p>
              </div>
            </div>
            <!-- <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Sezione *</label>
                <input type="text" class="form-control" placeholder="sezione" id="sezione">
              </div>
            </div> -->
          <!--   <div class="col-md-4 pl-1">
              <div class="form-group">
                <label for="exampleFormControlSelect1">NAP *</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div> -->
          </div>


        <!--   <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Settore Economico</label>
                <input type="text" class="form-control" placeholder="Settore Economico" id="SettoreEconomico">
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Categoria Merceologica</label>
                <input type="text" class="form-control" placeholder="Categoria Merceologica" id="CategoriaMerceologica">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Numero di Identificazione Impresa</label>
                <input type="text" class="form-control" placeholder="Numero di Identificazione Impresa" id="numeroimpresa">
              </div>
            </div>
          </div>
 -->
       <!--    <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>IBAN *</label>
                <input type="text" class="form-control" placeholder="IBAN *" id="iban">
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Email *</label>
                <input type="email" class="form-control" placeholder="Email" id="email">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <label class="form-label" for="customFile">Carica un'immagine/logo</label>
              <input type="file" class="form-control" id="customFile" />
            </div>
          </div> -->
        </form>
      </div>
    </div>
  </div>

</div>
