$myblue-color: #023671 !default;
$myorange-color: #EE7202 !default;

.hidden {
  display: none;
}

img.logo-sidemenu {
  width: 80%;
}

.taxibizicons {
  font-size: 1rem;
  cursor: pointer;
}

i.fas.fa-thumbs-down.taxibizicons,
.fa.fa-trash {
  color: red;
}

i.fas.fa-thumbs-up.taxibizicons {
  color: green;
}

.taxibiz-buttons {
  background-color: $myblue-color;
}

i.fas.fa-pencil-alt.taxibizicons {
  margin-right: 10px;
}

//popup style
.popup {
  text-align: center;
  z-index: 999;
  background: white;
  padding: 20px 20px;
  color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  border-radius: 20px;
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.4);

  &__header {
    float: right;
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 20px;
    text-transform: uppercase;

    h2 {
      font-weight: 300;
      font-size: 20px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__content {
    padding: 20px 0;

    p {
      color: black;
      font-size: 14px;
    }

    input,
    textarea {
      background: transparent;
      border: none;
      width: 100%;
      border-bottom: 1px solid black;

      &:focus {
        outline: none;
      }
    }

    strong {
      text-transform: uppercase;
      font-size: 18px;
      display: block;
      margin-bottom: 5px;
    }


  }

  &__footer {

    display: flex;
    justify-content: center;
    align-items: center;

    button {
      background: $myblue-color;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

//popup style

.custom-car .card-body {
  min-height: max-content !important;
}

.custom-car-image {
  text-align: center;
  height: 100% !important;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

.myratingbox {
  font-size: 25px;
}

.associaBTN {
  margin: 0px !important;
  padding: 5px !important;
}

ul.list-unstyled.team-members {
    max-height: 200px;
    overflow: scroll;
    overflow-x: hidden;
}

.mytable {
    max-height: 450px;
    overflow: scroll;

}

/* width */
::-webkit-scrollbar {
  width: 2px;

}

.mat-tab-label{
  border: 1px solid #d3d3d3;
}

.mat-tab-label:focus{
  border: 1px solid $myorange-color;
  background-color: $myorange-color;
  color: white;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

//register

.register{
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  margin-top: 3%;
  padding: 3%;
}
.register-left{
  text-align: center;
  color: #fff;
  margin-top: 4%;
}
.register-left input{
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 60%;
  background: #f8f9fa;
  font-weight: bold;
  color: #383d41;
  margin-top: 30%;
  margin-bottom: 3%;
  cursor: pointer;
}
.register-right{
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.register-left img{
  margin-top: 15%;
  margin-bottom: 5%;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
.register-left p{
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
}
.register .register-form{
  padding: 10%;
  //margin-top: 10%;
}
.btnRegister{
  float: right;
  margin-top: 10%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #0062cc;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}
.register .nav-tabs{
  margin-top: 3%;
  border: none;
  background: #0062cc;
  border-radius: 1.5rem;
  width: 28%;
  float: right;
}
.register .nav-tabs .nav-link{
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
  border: none;
}
.register .nav-tabs .nav-link.active{
  width: 100px;
  color: #0062cc;
  border: 2px solid #0062cc;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.register-heading{
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: white;
}

table.row-hover {
  tbody {
    tr {
        transition: all 250ms;
        cursor: pointer;
      &:hover {
        background-color: #ccc;
      }
    }
  }
}

.media-service{
  width: 45%;
}

.italy-flag{
  background-image: url('../../img/italy.png');
}
