<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand" href="javascript:void(0)">{{ getTitle() }}</a>
    </div>
    <button class="navbar-toggler" type="button" (click)="collapse()" [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav">
        <li class="nav-item px-4 my-2">
          <button *ngIf="getLangLocal == 'en'" class="my-1" mat-button [matMenuTriggerFor]="menu"><img width="30%" height="80%" src="./assets/img/united-kingdom (1).png" class="mx-2">English</button>
          <button *ngIf="getLangLocal == 'it'" class="my-1" mat-button [matMenuTriggerFor]="menu"><img width="30%" height="80%" src="./assets/img/italy.png" class="mx-2">Italiano</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let item of langArr" (click)="changeLang(item.textLink)">
              <img width="50%" height="80%" [src]="item.path">
              <span class="mx-1">{{item.textLink }}</span>
            </button>
          </mat-menu>
        </li>
        <li class="nav-item">
          <button class="btn taxibiz-buttons" (click)="logout()">LOGOUT</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
