
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modifica Servizio</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Scegli la tipologia di appartenenza</label>
        <select class="form-control" name="typologyid" id="typologyid">
          <ng-container  *ngFor="let typology of allTypologies;">
            <option>
              {{typology.title}}
            </option>
          </ng-container>
        </select>
      </div>

      <div class="form-group">
        <label>Prezzo €</label>
        <input type="number" class="form-control" min="0.0000001" id="price" name="price" [(ngModel)]="service.price"/>
      </div>
      <div class="form-group">
        <label>Prezzo scontato €</label>
        <input type="number" min="0.0000001" class="form-control" id="discountedprice" name="discountedprice" [(ngModel)]="service.discountedprice"/>
      </div>

      <div class="form-group">
        <label>Sconto medio €</label>
        <input type="number" min="0.0000001" class="form-control" id="discountaverage" name="discountaverage" [(ngModel)]="service.discountaverage"/>
      </div>
      <label for="customFile">Aggiungi documento (opzionale)</label>

      <input type="file" id="documentid" id="iconFile" name="documentid" (change)="onDocChange($event)"
        class="form-control" accept="application/pdf" />


        <div class="form-group">
          <label>Aggiungi media</label>
          <select class="form-control" name="mediatype" (change)="onMediaChange($event.target.value)"
          [(ngModel)]="service.mediatype">
            <option value="1">Immagine</option>
            <option value="2">Video</option>
          </select>
        </div>

        <div *ngIf="mediatype == 1">
          <label for="customFile">Aggiungi immagine</label>
          <input type="file" class="form-control" id="iconFile" accept="image/*"
            (change)="onImageChange($event)" />
          <img class="category-icon" *ngIf="loadedPicture" src="data:image/png;base64,{{loadedPicture}}" />
        </div>

        <div *ngIf="mediatype == 2">
          <label for="customFile">Aggiungi video (la grandezza del video dev'essere inferiore a 2MB)</label>
          <input type="file" class="form-control" id="iconFile" accept="video/*"
            (change)="onVideoChange($event)">
        </div>

        <div *ngIf="loadedVideo">
          <video class="category-icon" type="video/mp4" src="data:video/mp4;base64,{{loadedVideo}}"
            controls></video>
        </div>


      <div class="form-group">
        <label>Titolo in italiano</label>
        <input type="text" class="form-control" id="titleIT" name="title"
          [(ngModel)]="service.languages[0].title"/>
      </div>

      <div class="form-group">
        <label>Descrizione in italiano</label>
        <textarea class="form-control" id="descriptionIT" name="descriptionIT"
        [(ngModel)]="service.languages[0].description"></textarea>
      </div>
      <div class="form-group">
        <label>Titolo in inglese </label>
        <input type="text" class="form-control" id="titleEN" name="titleEN"
        [(ngModel)]="service.languages[1].title"/>
      </div>
      <div class="form-group">
        <label>Descrizione in inglese</label>
        <textarea class="form-control" id="descriptionEN" name="descriptionEN"
        [(ngModel)]="service.languages[1].description"></textarea>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button (click)="updateService()" type="button" class="btn btn-outline-dark">
      Modifica Servizio
    </button>
  </div>

