
<div class="sidebar-wrapper">
  <div class="logo">
    <!-- <a href="#" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/img/logo.png">
      </div>
    </a> -->
       <a [routerLink]="['/convenzioni']" routerLinkActive="router-link-active"  class="simple-text logo-normal">
      <img src="assets/img/logo-colore.png" class="logo-sidemenu">
    </a>
  </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]" *ngIf="menuItem.toshow === true">
                <i class="nc-icon {{menuItem.icon}}"></i>
                <p>
                  {{getTranslation(menuItem.title)}}

                </p>
            </a>
        </li>
    </ul>
</div>
