<input type="file" id="files" class="hidden">
<div class="row">

  <div class="col-md-4" *ngIf="azienda && azienda != 'new'">
    <div class="card card-user custom-car">
      <div class="image custom-car-image">
        <!-- <img src="{{aziendaImg}}"  *ngIf="aziendaImg"(click)="selectImage()">
        <img src="assets/img/defaut-car-image.png"*ngIf="!aziendaImg"(click)="selectImage()"> -->
      </div>
      <div class="card-body">
        <div class="text-center">
          <img class="avatar border-gray" src="{{aziendaImg}}" (click)="selectImage()" *ngIf="aziendaImg">

          <img class="avatar border-gray" src="assets/img/default-avatar.png" (click)="selectImage()" *ngIf="!aziendaImg">

          <h5 class="title" *ngIf="azienda && azienda != 'new'">{{azienda.name}} {{azienda.lastname}}</h5>


          <div class="description myratingbox" *ngIf="azienda && azienda != 'new'">
            
         
            <div class="stars-outer">
              <div class="stars-inner"></div>
            </div>
            <span class="average-number">{{azienda.averagerating}}</span>
          </div>

        </div>

      </div>
      <!-- <div class="card-footer"*ngIf="azienda && azienda != 'new'">
        <hr>
        <div class="button-container">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-4 ml-auto">
              <h5>{{azienda.callprice}}€
                <br>
                <small>Chiamata</small>
              </h5>
            </div>
            <div class="col-lg-4 col-md-4 col-4 ml-auto mr-auto">
              <h5>{{azienda.pricekm}}€
                <br>
                <small>Km</small>
              </h5>
            </div>
            <div class="col-lg-4 mr-auto">
              <h5>{{azienda.enginepower}}
                <br>
                <small>Potenza</small>
              </h5>
            </div>
          </div>
        </div>
      </div> -->
    </div>

  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title" *ngIf="azienda && azienda === 'new'">Aggiungi una nuova azienda</h5>
        <h5 class="card-title" *ngIf="azienda && azienda != 'new'">Modifica azienda</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Ragione Sociale *</label>
                <input type="text" class="form-control" placeholder="Ragione sociale" id="ragionesociale">
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Forma giuridica *</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Sede sociale *</label>
                <input type="text" class="form-control" placeholder="Sede sociale" id="sede">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Indirizzo *</label>
                <input type="text" class="form-control" placeholder="indirizzo" id="indirizzo">
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Sezione *</label>
                <input type="text" class="form-control" placeholder="sezione" id="sezione">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label for="exampleFormControlSelect1">NAP *</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Settore Economico</label>
                <input type="text" class="form-control" placeholder="Settore Economico" id="SettoreEconomico">
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Categoria Merceologica</label>
                <input type="text" class="form-control" placeholder="Categoria Merceologica" id="CategoriaMerceologica">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Numero di Identificazione Impresa</label>
                <input type="text" class="form-control" placeholder="Numero di Identificazione Impresa" id="numeroimpresa">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>IBAN *</label>
                <input type="text" class="form-control" placeholder="IBAN *" id="iban">
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Email *</label>
                <input type="email" class="form-control" placeholder="Email" id="email">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <label class="form-label" for="customFile">Carica un'immagine/logo</label>
              <input type="file" class="form-control" id="customFile" />
            </div>
          </div>


          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round" *ngIf="azienda && azienda === 'new'"
                (click)="addNewazienda()">Crea</button>
              <button type="submit" class="btn btn-primary btn-round" *ngIf="azienda && azienda != 'new'"
                (click)="updateazienda()">Modifica</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
