<h4>Aggiungi un nuovo amministratore</h4>
<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title" *ngIf="admin && admin === 'new'">Aggiungi</h5>
        <h5 class="card-title" *ngIf="admin && admin != 'new'">Modifica</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Nome</label>
                <input type="text" class="form-control" placeholder="nome" id="name">
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Cognome</label>
                <input type="text" class="form-control" placeholder="cognome" id="lastname">
              </div>
            </div>
            <div class="col-md-4 pl-1" *ngIf="admin && admin === 'new'">
              <div class="form-group">
                <label>Nickname</label>
                <input type="text" class="form-control" placeholder="nickname" id="nickname">
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="email" id="email">
              </div>
            </div>
            <div class="col-md-6 pl-1" *ngIf="admin && admin === 'new'">
              <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" placeholder="password" id="password">

              </div>
            </div>
          </div>



          <div class="row" *ngIf="admin && admin != 'new'">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round" (click)="editAdmin()">Modifica</button>
            </div>
          </div>
          <div class="row" *ngIf="admin && admin === 'new'">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round" (click)="addNewAdmin()">Crea</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<div class="row" >


  <div class="col-md-6"*ngIf="admin && admin != 'new'">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Reset Password</h5>
      </div>
      <div class="card-body">
        
            
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round" (click)="resetPsw()">Resetta</button>
            </div>
          
            <div id="defaultpass"></div>
       
      </div>
    </div>
  </div>

  <div class="col-md-6"*ngIf="mynickname == admin.nickname">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Modifica Password</h5>
      </div>
      <div class="card-body">
        
        <div  >
         
          <form action="#!">
              <div class="form-group">
                <label for="accounttomod" class="sr-only">Nickname</label>
                <input type="text" name="accounttomod" id="accounttomod" class="form-control" placeholder="Nickname" >
              </div>
              <div class="form-group mb-4">
                <label for="oldpassword" class="sr-only">Vecchia password</label>
                <input type="password" name="oldpassword" id="oldpassword" class="form-control" placeholder="vecchia password" >
              </div>
              <div class="form-group mb-4">
                <label for="newpassword" class="sr-only">Nuova Password</label>
                <input type="password" name="newpassword" id="newpassword" class="form-control" placeholder="nuova password" >
              </div>
              <div class="update ml-auto mr-auto">
                <button type="submit" class="btn btn-primary btn-round" (click)="changePassword()">Modifica</button>
              </div>
            </form>
           
        </div>

          
            
       
      </div>
    </div>
  </div>

</div>