<mat-dialog-content>
  <div *ngIf="dataEditService == null" class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{'New Service' | translate}}</h4>
    <button (click)="dismiss()" type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- modifica -->
  <div *ngIf="dataEditService != null" class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{'Change Service' | translate}}</h4>
    <button (click)="dismiss()" type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--  -->

  <div class="modal-body">
    <form>
      <div *ngIf="dataEditService == null" class="form-group">
        <label>{{'type of services' | translate}}</label>
        <select required class="form-control" name="typologyid" id="typologyid"
          (change)="chooseTypology($event.target.value)" [(ngModel)]="typologyid">
          <ng-container *ngFor="let typology of allTypologies;">
            <option [value]="typology.typologyid">
              {{typology.title}}
            </option>
          </ng-container>
        </select>
      </div>

      <!-- modifica -->
      <div *ngIf="dataEditService != null" class="form-group">
        <label>{{'type of services' | translate}}</label>
        <select required *ngIf="dataEditService != null" class="form-control" name="typologyid" id="typologyid"
          (change)="chooseTypology($event.target.value)" [(ngModel)]="dataEditService.typologyid">
          <ng-container *ngFor="let typology of allTypologies;">
            <option [value]="typology.typologyid">
              {{typology.title}}
            </option>
          </ng-container>
        </select>
      </div>
      <!--  -->

      <div *ngIf="dataEditService == null" class="form-group">
        <label>{{'price' | translate}} €</label>
        <input required type="number" class="form-control" id="price" name="price" [(ngModel)]="prezzo" />
      </div>

      <!-- modifica -->
      <div *ngIf="dataEditService != null" class="form-group">
        <label>{{'price' | translate}} €</label>
        <input required type="number" class="form-control" id="price" name="price"
          [(ngModel)]="dataEditService.price" />
      </div>
      <!--  -->

      <div *ngIf="dataEditService == null" class="form-group">
        <label>{{'discounted price' | translate}} €</label>
        <input required type="number" class="form-control" id="discountedprice" name="discountedprice"
          [(ngModel)]="sconto" />
      </div>

      <!-- modifica -->
      <div *ngIf="dataEditService != null" class="form-group">
        <label>{{'discounted price' | translate}} €</label>
        <input required type="number" class="form-control" id="discountedprice" name="discountedprice"
          [(ngModel)]="dataEditService.discountedprice" />
      </div>
      <!--  -->

      <div *ngIf="dataEditService == null" class="form-group">
        <label>{{'average price' | translate}} €</label>
        <input required type="number" class="form-control" id="discountaverage" name="discountaverage"
          [(ngModel)]="sconto_medio" />
      </div>

      <!-- modifica -->
      <div *ngIf="dataEditService != null" class="form-group">
        <label>{{'average price' | translate}}€</label>
        <input required type="number" class="form-control" id="discountaverage" name="discountaverage"
          [(ngModel)]="dataEditService.discountaverage" />
      </div>
      <!--  -->
      <label for="customFile">{{'add document' | translate}} ({{'optional' | translate}})</label>

      <input type="file" id="documentid" id="iconFile" name="documentid" (change)="onDocChange($event)"
        [ngModel]="service.documentid" class="form-control" accept="application/pdf" />

      <a role="button" class="btn btn-primary" *ngIf="uploadedFile" (click)="downloadPDF(uploadedFile)">Download
        file</a>
      <a role="button" class="btn btn-primary" *ngIf="loadedFile" (click)="downloadPDF(loadedFile)">Download
        file</a>

      <div class="row" *ngIf="dataEditService == null">
        <div class="form-group">
          <label style="margin-left: 15px">{{'allow media' | translate}}</label>
          <input style="
        display: flex;
        align-items: flex-start;
        text-align: left;
        margin-left: -21px;
      " type="checkbox" class="form-control" id="enablemedia" [(ngModel)]="enablemedia" name="enablemedia" />
        </div>
      </div>

      <!-- modifica -->
      <div class="row" *ngIf="dataEditService != null">
        <div class="form-group">
          <label style="margin-left: 15px">{{'allow media' | translate}}</label>
          <input style="
        display: flex;
        align-items: flex-start;
        text-align: left;
        margin-left: -21px;
      " type="checkbox" class="form-control" id="enablemedia" [(ngModel)]="dataEditService.enablemedia"
            name="enablemedia" />
        </div>
      </div>


      <div *ngIf="dataEditService == null && enablemedia == true" class="form-group">
        <label>{{'add media' | translate}}</label>
        <select class="form-control" name="mediatype" (change)="onMediaChange($event.target.value)"
          [(ngModel)]="mediatype">
          <option value="1">Immagine</option>
          <option value="2">Video</option>
        </select>
      </div>


      <!-- modifica -->
      <div *ngIf="dataEditService != null" class="form-group">
        <label>{{'add media' | translate}}</label>
        <select class="form-control" name="mediatype" (change)="onMediaChange($event.target.value)"
          [(ngModel)]="dataEditService.mediatype">
          <option value="1">Immagine</option>
          <option value="2">Video</option>
        </select>
      </div>
      <!--  -->

      <div *ngIf="mediatype == 1 && dataEditService == null && enablemedia == true">
        <label for="customFile">{{'add image' | translate}}</label>
        <input type="file" class="form-control" id="iconFile" accept="image/*" (change)="onImageChange($event)" />
        <img height="auto" class="media-service" *ngIf="loadedPicture" src="data:image/jpeg;base64,{{loadedPicture}}" />
      </div>

      <!-- modifica -->
      <div *ngIf="dataEditService && dataEditService.mediatype == 1">
        <label for="customFile">{{'add image' | translate}}</label>
        <input type="file" class="form-control" id="iconFile" accept="image/*" (change)="onImageChange($event)" />
        <img height="auto" class="media-service" *ngIf="loadedPicture" src="data:image/jpeg;base64,{{loadedPicture}}" />
      </div>
      <!--  -->

      <div *ngIf="mediatype == 2 && dataEditService == null && enablemedia == true">
        <label for="customFile">{{'add video' | translate}} ({{'size video' | translate}})</label>
        <input type="file" class="form-control" id="iconFile" accept="video/*" (change)="onVideoChange($event)">
      </div>

      <!-- modifica -->
      <div *ngIf="dataEditService && dataEditService.mediatype == 2">
        <label for="customFile">{{'add video' | translate}} ({{'size video' | translate}})</label>
        <input type="file" class="form-control" id="iconFile" accept="video/*" (change)="onVideoChange($event)">
      </div>
      <!--  -->

      <div *ngIf="loadedVideo && dataEditService == null">
        <video class="media-service" type="video/mp4" src="data:video/mp4;base64,{{loadedVideo}}" controls></video>
      </div>

      <!-- modifica -->

      <div *ngIf="loadedVideo && dataEditService != null">
        <video class="media-service" type="video/mp4" src="data:video/mp4;base64,{{loadedVideo}}" controls></video>
      </div>
      <!--  -->


      <div *ngIf="dataEditService == null" class="form-group">
        <label>{{'italian title' | translate}}</label>
        <input required type="text" class="form-control" id="titleIT" name="title" [(ngModel)]="titleIT" />
      </div>

      <!-- modifica -->
      <div *ngIf="dataEditService != null" class="form-group">
        <label>{{'italian title' | translate}}</label>
        <input required type="text" class="form-control" id="titleIT" name="title"
          [(ngModel)]="dataEditService.languages[0].title" />
      </div>
      <!--  -->

      <div *ngIf="dataEditService == null" class="form-group">
        <label>{{'italian description' | translate}}</label>
        <textarea required class="form-control" id="descriptionIT" name="descriptionIT"
          [(ngModel)]="descrIT"></textarea>
      </div>

      <!-- modifica -->
      <div *ngIf="dataEditService != null" class="form-group">
        <label>{{'italian description' | translate}}</label>
        <textarea required class="form-control" id="descriptionIT" name="descriptionIT"
          [(ngModel)]="dataEditService.languages[0].description"></textarea>
      </div>
      <!--  -->

      <div *ngIf="dataEditService == null" class="form-group">
        <label>{{'english title' | translate}}</label>
        <input required type="text" class="form-control" id="titleEN" name="titleEN" [(ngModel)]="titleEN" />
      </div>

      <!-- modifica -->
      <div *ngIf="dataEditService != null" class="form-group">
        <label>{{'english title' | translate}}</label>
        <input required type="text" class="form-control" id="titleEN" name="titleEN"
          [(ngModel)]="dataEditService.languages[1].title" />
      </div>
      <!--  -->


      <div *ngIf="dataEditService == null" class="form-group">
        <label>{{'english description' | translate}}</label>
        <textarea required class="form-control" id="descriptionEN" name="descriptionEN"
          [(ngModel)]="descrEN"></textarea>
      </div>

      <!-- modifica -->

      <div *ngIf="dataEditService != null" class="form-group">
        <label>{{'english description' | translate}}</label>
        <textarea required class="form-control" id="descriptionEN" name="descriptionEN"
          [(ngModel)]="dataEditService.languages[1].description"></textarea>
      </div>
      <!--  -->
    </form>
  </div>

  <div *ngIf="dataEditService == null" class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="creaServizio()">
      Aggiungi Servizio
    </button>
  </div>

  <!-- modifica -->
  <div *ngIf="dataEditService != null" class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modificaServizio()">
      Modifica Servizio
    </button>
  </div>
  <!--  -->
</mat-dialog-content>
